{% extends 'frontOffice/base.html.twig' %}
{% block title %}Services - {{ parent() }}{% endblock %}
{% block body %}
    <!-- page title -->
    <div class="about-bg centered">
        <div class="container">
            <div class="text">Nos services</div>
        </div>
    </div>
    <!-- end page title -->

    <!-- bread-crumb -->
    <div class="bread-crumb">
        <div class="container">
            <div class="text">
                <a href="{{ path('front_office_homepage') }}">Accueil</a>
                <i class="fa fa-long-arrow-right"></i>Nos services
            </div>
        </div>
    </div>
    <!-- bread crumb end -->

    <!-- contact-section / contact-page -->
    <section class="service-section service-page">
        <div class="container">
            <div class="service-title centered">
                <div class="title-text" style="font-size: 16px;">
                    En choisissant notre société de commerce international comme partenaire en Tunisie, vous bénéficiez:
                </div>
            </div>
            <section class="extra-service">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>D'optimiser vos coûts et réaliser les meilleurs opportunités d'affaires en
                                        bénéficiant d'un prix compétitif.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>De la qualité des produits distribués par Technico Trading qui répondent
                                        parfaitement aux attentes des tous les secteurs et qui ont été soigneusement
                                        choisi pour leurs convenance et potentiel de vente.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>D'une rapidité de transfert car on dispose d’un réseau de partenaires transport
                                        avec lesquelles nous collaborons. Il possèdent toutes une expérience solide de
                                        la logistique et offrent les garanties et assurances requises pour le transport.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>De l'écoute des clients et de leurs souhaits,il est leur interlocuteur
                                        privilégié. Intermédiaire entre le fournisseur et le client, Technico Trading
                                        s'engage à travailler en partenariat avec des fournisseurs sérieux répondant aux
                                        exigences du marché et de l'entière satisfaction du client.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>D'une réponse à toutes les demandes dans le cadre des secteurs de son activité,
                                        mais sait aussi s'adapter à toutes les exigences pour les recherches des
                                        produits spécifiques et rares, elle obtient toujours le meilleur résultat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>D’une présence permanente sur terrain : notre mission est de vous représenter en
                                        assurant un suivi régulier des opérations. Nous travaillons en parfaite
                                        coordination avec les fournisseurs pour veiller à leur bon déroulement et
                                        garantir la conformité des expéditions.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 service-colmun">
                            <div class="single-item">
                                <div class="icon-box-services"><i class="fa fa-check-circle fa-4x base-color"></i></div>
                                <div class="text">
                                    <p>D'un contrôle sur terrain du chargement et du bon départ des produits vers leur
                                        destination finale. Il s'assurera enfin de la satisfaction des clients à la
                                        réception des marchandises.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- end contact-section / contact-page -->


{% endblock %}
