{% if is_granted('ROLE_ADMIN') %}
    {% include "@FOSUser/Profile/edit_content_administrator.html.twig" %}
{% elseif is_granted('ROLE_COMPANY') %}
    {% include "@FOSUser/Profile/edit_content_company.html.twig" %}
{% elseif is_granted('ROLE_PARTICULAR') %}
    {% include "@FOSUser/Profile/edit_content_particular.html.twig" %}
{% else %}
    <h1>Error 404</h1>
{% endif %}
