<p>
    (Vous ne pouvez pas répondre à ce message)
</p>
<p>
    Votre annonce "{{ title }}" <strong>a été supprimé.</strong><br>

<p>
    ----------
    <br>
    Merci d'utiliser Immobiliere.tn
    <br>
    Veuillez ne répondez pas à cet email car nous ne recevrons pas votre message.
    <br>
    Pour contacter Immobiliere.tn directement, veuillez visiter
    <a href="{{ url('front_office_contact') }}">http://immobilirere.tn/contactez-nous</a>
</p>