<p>
    (Vous ne pouvez pas répondre à ce message)
</p>
<p>
    Votre annonce a été acceptée !<br>
    <a
            href="{{ url('front_office_property_show', {'slug': entity.slug}) }}">{{ url('front_office_property_show', {'slug': entity.slug}) }}</a>
</p>
<p>
    Pensez à supprimer votre annonce quand le bien aura été vendu ou bien loué,

</p>
<p>
    Merci et à très bientôt.
</p>
<p>
    ----------
    <br>
    Merci d'utiliser Immobiliere.tn
    <br>
    Veuillez ne répondez pas à cet email car nous ne recevrons pas votre message.
    <br>
    Pour contacter Immobiliere.tn directement, veuillez visiter
    <a href="{{ url('front_office_contact') }}">http://immobilirere.tn/contactez-nous</a>
</p>