<div class="modal fade" id="must-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-md">
            <div class="modal-header" style="background-color: black">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 24px;" class="base-color">&times;</span></button>
                <h4 class="modal-title base-color" style="position: inherit" id="myModalLabel">Alerte</h4>
            </div>

            <div class="modal-body">
                <h6>Vous devez se connecter pour mettre cette annonce dans votre liste des favoris.</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-one-black" data-dismiss="modal">Fermer</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn-one" data-dismiss="modal" data-toggle="modal" data-target="#modalLogin"
                        data-loading-text="Connexion" style="padding: 5px;">
                    Se connecter
                </button>
            </div>
        </div>
    </div>
</div>
