{% if is_granted('ROLE_ADMIN') %}
    {{ include('@FOSUser/ChangePassword/content_administrator.html.twig') }}
{% elseif is_granted('ROLE_COMPANY') or is_granted('ROLE_PARTICULAR') %}
    {% include "@FOSUser/ChangePassword/content.html.twig" %}
{% else %}
    <h1>Error 404</h1>
{% endif %}
