{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-info fade in text-lg">

            {% block flashbag %}{{ parent() }}{% endblock %}<br>

            <p>
                {{ 'resetting.password_already_requested'|trans }}
            </p>
        </div>

        <div class="pad-ver text-lg">
            <a href="{{ path('home_page') }}" class="btn-link mar-rgt">Accueil</a>
            <a href="javascript:history.back()" class="btn-link">Retour</a>
        </div>
    </div>

{% endblock %}
