<div class="alert alert-success" style=" background-color: green; border-color: #18a671; color: white;">
    <p>
        Nous avons bien reçu votre message.
        Nous vous répondrons au plus vite. Merci de votre patience.
    </p>
    <span class="close"></span>
</div>