{% extends 'frontOffice/base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2" style="padding: 15px;">

            <div class="alert alert-success fade in" style="padding: 20px; font-size: 16px;">
                <i class="fa fa-check-circle"></i>
                Votre inscription a été transmis avec succès. Nous allons l'examiner et vous recevez bientôt un email
                qui contient votre mot de passe.
            </div>

        </div>
    </div>
{% endblock body %}